@*
<h1> Contact Us </h1>

<div>
    <h3> Email : @ViewBag.email </h3>
    <h3> Phone : @ViewBag.phone </h3>
    <h3> Is Active : @ViewBag.isActive </h3>
@*
    <ul>
        @foreach (var item in ViewBag.techlist)
        {
            <li> @item </li>
        }
    </ul>*@
@*
    <select>
        @foreach (var item in ViewBag.techList)
        {
            <option> @item </option>
        }
    </select>*@


   @* <span>
        @foreach (var item in ViewBag.techList)
        {
            <input type="checkbox" value="@item"/>@item
        }
    </span>*@
@*</div>*@