


<form>
    <input type="number" placeholder="From Account Number" class="form-control"/>
    <input type="number" placeholder="To Account Number" class="form-control"/>
    <button class="btn btn-primary"> Transfer</button>
</form>